- if Account.balance_in_usd_cents <= 100
  %h1 Sorry, there are no bitcoins left to sell at this exchange.
  %h1 Please check back soon.
- else
  .jumbotron
    %h1 Buy 5000 Bits for $5
  = simple_form_for @transaction_form, url: transactions_path do |f|
    = f.input :card_uri, as: :hidden
    .row
      .col-xs-7
        .row
          .col-xs-12
            %h1 Purchase form
        .row
          .col-xs-12
            = f.input :bitcoin_address, input_html: { value: ("1LoBLNKPEdy4GwYWdaDLaTRbB7BBC9dZP3" if Rails.env.development?) }
      .col-xs-5
        = f.input :credit_card_number, input_html: { value: ('4111 1111 1111 1111' if Rails.env.development?), name: nil }
        .row
          .col-xs-6
            = f.input :expiration_date, input_html: { value: ('01 / 20' if Rails.env.development?) ,name: nil }
          .col-xs-6
            = f.input :cvc, input_html: { value: ('123' if Rails.env.development?), name: nil }
        = f.submit class: 'btn btn-primary pull-right'

