<!DOCTYPE html>
<html>
<head>
  <title>OverpricedBitcoin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= tag :meta, name: :btc_to_usd_cents_exchange_rate, value: ENV['BTC_TO_USD_CENTS_EXCHANGE_RATE'] %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
  window.analytics.load("9unbndjy07");
  window.analytics.page();
  </script>
</head>
<body>
  <div>
    <header class=container>
    <div class=row>
      <div class="col-xs-12">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'logo' %>
          <h1>OverpricedBitcoin</h1>
        <% end %>
        <nav>
      </div>
    </div>
    <div class=row>
      <div class="col-xs-12">
        <nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Purchase bitcoins', root_path %></li>
              <li><%= link_to 'List Transactions', transactions_path %></li>
              <li><%= link_to 'About', page_path(:about) %></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class=container>
      <%= yield %>
    </div>
    <footer class=container>
      Built by <%= link_to 'masonforest', 'https://www.twitter.com/masonforest' %>
    </footer>
  </div>

</body>
</html>
